---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting"
const pageTitle: String = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey There", "하이", "할로", "안녕"]} />
</BaseLayout>